<div class='container'>
  <p class='button' routerLink='/'>Back</p>
  <div class='column'>
    <h2>Employees</h2>
    <ul class='category-list'>
      <li>Crangus McBasketball<span class='category-total-expense'>- $450.00</span></li>
      <li>Jubreakit Jubawdit<span class='category-total-expense'>- $300.00</span></li>
      <li>Queen Skeet<span class='category-total-expense'>- $250.00</span></li>
    </ul>
    <h3 class='total-header'>Total Expenses <span class='total-expense'>$1000.00</span></h3>
  </div>
</div>
